---
import Card from './Card.astro'
import * as s from './index.css'
import props from './data'
---

<section class={s.WrapperAvantage}>
  {
    props.map((item) => (
      <Card icon={item.icon} qualité={item.qualité} text={item.text} />
    ))
  }

  <span class={s.ribbonSvg}>
    <svg
      width="1440"
      height="752"
      viewBox="0 0 1440 752"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1486.91 7.0334C1479.91 9.47008 1472.93 12.4458 1465.96 15.4215L1445.58 24.327L1404.89 43.7549C1350.83 70.1908 1295.71 97.2088 1238.85 108.099L1217.69 111.097C1210.63 111.917 1203.01 112.219 1195.93 112.5L1185.03 112.931L1174.12 112.824C1167.01 112.566 1159.91 112.307 1152.81 112.049C1124.33 109.398 1095.79 105.13 1067.19 99.2453C1010.53 87.454 954.806 71.8463 899.34 62.7069C871.847 57.3179 843.938 55.1845 816.617 54.1077C809.535 54.3882 802.999 54.6473 796.462 54.9063C793.194 55.0358 789.925 55.1653 786.112 55.3164L775.805 56.8045C769.29 57.6025 762.23 58.4221 755.714 59.2202C749.22 60.5572 742.203 62.4549 735.709 63.7919C683.341 77.744 632.361 99.1992 583.666 123.263C534.994 147.866 488.083 175.638 443.437 205.48C354.144 265.164 272.692 329.936 197.081 390.698C121.994 450.899 53.2948 507.068 -8.66527 554.332C-70.6253 601.595 -125.846 639.954 -171.603 669.301C-217.926 698.129 -254.764 718.484 -279.875 731.896C-292.713 738.343 -302.348 743.044 -309.301 746.559C-315.731 749.513 -318.935 751.26 -318.935 751.26L-322.193 737.892C-322.193 737.892 -318.988 736.145 -312.014 733.17C-305.605 729.677 -295.405 725.493 -283.111 719.068C-258 705.656 -221.141 685.84 -175.384 656.494C-129.605 627.687 -74.3849 589.328 -12.9482 542.624C49.0332 495.899 117.754 440.27 193.386 380.047C269.018 319.825 351.015 255.031 440.873 195.864C485.541 166.561 532.975 138.228 581.648 113.625C630.887 89.5399 681.867 68.0848 734.78 54.1112C741.274 52.7741 748.291 50.8765 754.785 49.5395C761.279 48.2024 768.361 47.9218 775.421 47.1022L785.749 46.1531C789.017 46.0236 792.83 45.8725 796.099 45.743C803.18 45.4624 809.717 45.2034 816.82 45.4618C844.686 46.5171 872.072 49.211 900.088 54.0394C955.575 63.7179 1011.3 79.3255 1067.96 91.1168C1096.02 97.0233 1124.58 101.83 1153.05 104.481C1160.18 105.278 1167.26 104.998 1174.36 105.256L1185.3 105.903L1196.19 105.471C1203.27 105.19 1210.38 105.449 1217.42 104.09L1238.57 101.092C1294.88 90.2231 1349.48 63.7657 1404.09 37.3083L1444.78 17.8803L1465.16 8.97483C1472.13 5.99909 1479.11 3.02341 1486.1 0.586735C1486.65 0.56515 1487.17 0.0045599 1487.72 -0.0170247L1487.99 6.99023L1486.91 7.0334Z"
        fill="#D7AB0F">
      </path>
    </svg>
  </span>
</section>
