---
//import { themeColor, colors } from '@/styles/tokens/color/_colorOKLCH.css.ts'
import * as s from './index.css.ts'
---

<!-- <div class={s.container.default}>
  <p>
    1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ullam error
    officia ea nostrum ducimus doloribus quaerat dolorum, vel accusamus odio ut
    sed soluta unde laborum ex eaque alias a quis exercitationem, maxime
    quisquam. Et asperiores atque doloribus debitis voluptate maiores molestias
    beatae, sit nobis veniam ab soluta architecto laborum, animi temporibus
    fugit odit omnis numquam ut! Sit culpa accusantium aut commodi ratione error
    odit officiis repellat mollitia id maxime unde excepturi architecto maiores
    velit nam explicabo tempore quam, deserunt rerum quis dolorum autem! Unde
    dignissimos voluptatem harum tempora in officia, magnam numquam accusantium
    sapiente, architecto pariatur cumque repellat voluptas quaerat, nihil ab
    temporibus aperiam quidem nam. Vero neque sequi ex, sapiente eos tempore
    consectetur, exercitationem accusantium, quos ducimus doloremque repudiandae
    cupiditate autem in maiores facere nemo explicabo quaerat atque saepe aut
    perferendis? Doloribus nostrum temporibus qui perspiciatis laudantium modi
    officiis, quis veniam delectus quasi pariatur aliquid nulla rerum error?
  </p>
  <h1>MEDIUM</h1>
  <p class={s.container.medium}>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ullam error
    officia ea nostrum ducimus doloribus quaerat dolorum, vel accusamus odio ut
    sed soluta unde laborum ex eaque alias a quis exercitationem, maxime
    quisquam. Et asperiores atque doloribus debitis voluptate maiores molestias
    beatae, sit nobis veniam culpa accusantium aut commodi ratione error odit
    officiis repellat mollitia id maxime unde excepturi architecto maiores velit
    nam explicabo tempore quam, deserunt rerum quis dolorum autem! Unde
    dignissimos voluptatem harum tempora in officia, magnam numquam accusantium
    sapiente, architecto pariatur cumque repellat voluptas quaerat, nihil ab
    temporibus aperiam quidem nam. Vero neque sequi ex, sapiente eos tempore
    consectetur, exercitationem accusantium, quos ducimus doloremque repudiandae
    cupiditate autem in maiores facere nemo explicabo quaerat atque saepe aut
    perferendis? Doloribus nostrum temporibus qui perspiciatis laudantium modi
    officiis, quis veniam delectus quasi pariatur aliquid nulla rerum error?
  </p>
  <p class={s.container.large}>
    LARGE Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ullam
    error officia ea nostrum ducimus doloribus quaerat dolorum, vel accusamus
    odio ut sed soluta unde laborum ex eaque alias a quis exercitationem, maxime
    quisquam. Et asperiores atque doloribus debitis voluptate maiores molestias
    beatae, sit nobis veniam ab soluta architecto laborum, animi temporibus
    fugit odit omnis numquam ut! Sit culpa accusantium aut commodi ratione error
    odit officiis repellat mollitia id maxime unde excepturi architecto maiores
    velit nam explicabo tempore quam, deserunt rerum quis dolorum autem! Unde
    dignissimos voluptatem harum tempora in officia, magnam numquam accusantium
    sapiente, architecto pariatur cumque repellat voluptas quaerat, nihil ab
    temporibus aperiam quidem nam. Vero neque sequi ex, sapiente eos tempore
    consectetur, exercitationem accusantium, quos ducimus doloremque repudiandae
    cupiditate autem in maiores facere nemo explicabo quaerat atque saepe aut
    perferendis? Doloribus nostrum temporibus qui perspiciatis laudantium modi
    officiis, quis veniam delectus quasi pariatur aliquid nulla rerum error?
  </p>
  <p class={s.container.full}>
    FULL Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ullam
    error officia ea nostrum ducimus doloribus quaerat dolorum, vel accusamus
    odio ut sed soluta unde laborum ex eaque alias a quis exercitationem, maxime
    quisquam. Et asperiores atque doloribus debitis voluptate maiores molestias
    beatae, sit nobis veniam ab soluta architecto laborum, animi temporibus
    fugit odit omnis numquam ut! Sit culpa accusantium aut commodi ratione error
    odit officiis repellat mollitia id maxime unde excepturi architecto maiores
    velit nam explicabo tempore quam, deserunt rerum quis dolorum autem! Unde
    dignissimos voluptatem harum tempora in officia, magnam numquam accusantium
    sapiente, architecto pariatur cumque repellat voluptas quaerat, nihil ab
    temporibus aperiam quidem nam. Vero neque sequi ex, sapiente eos tempore
    consectetur, exercitationem accusantium, quos ducimus doloremque repudiandae
    cupiditate autem in maiores facere nemo explicabo quaerat atque saepe aut
    perferendis? Doloribus nostrum temporibus qui perspiciatis laudantium modi
    officiis, quis veniam delectus quasi pariatur aliquid nulla rerum error?
  </p>
  <p>
    FULL Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ullam
    error officia ea nostrum ducimus doloribus quaerat dolorum, vel accusamus
    odio ut sed soluta unde laborum ex eaque alias a quis exercitationem, maxime
    quisquam. Et asperiores atque doloribus debitis voluptate maiores molestias
    beatae, sit nobis veniam ab soluta architecto laborum, animi temporibus
    fugit odit omnis numquam ut! Sit culpa accusantium aut commodi ratione error
    odit officiis repellat mollitia id maxime unde excepturi architecto maiores
    velit nam explicabo tempore quam, deserunt rerum quis dolorum autem! Unde
    dignissimos voluptatem harum tempora in officia, magnam numquam accusantium
    sapiente, architecto pariatur cumque repellat voluptas quaerat, nihil ab
    temporibus aperiam quidem nam. Vero neque sequi ex, sapiente eos tempore
    consectetur, exercitationem accusantium, quos ducimus doloremque repudiandae
    cupiditate autem in maiores facere nemo explicabo quaerat atque saepe aut
    perferendis? Doloribus nostrum temporibus qui perspiciatis laudantium modi
    officiis, quis veniam delectus quasi pariatur aliquid nulla rerum error?
  </p>
  <p class:list={[s.container.large, s.e]}>
    LARGE Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ullam
    error officia ea nostrum ducimus doloribus quaerat dolorum, vel accusamus
    odio ut sed soluta unde laborum ex eaque alias a quis exercitationem, maxime
    quisquam. Et asperiores atque doloribus debitis voluptate maiores molestias
    beatae, sit nobis veniam ab soluta architecto laborum, animi temporibus
    fugit odit omnis numquam ut! Sit culpa accusantium aut commodi ratione error
    odit officiis repellat mollitia id maxime unde excepturi architecto maiores
    velit nam explicabo tempore quam, deserunt rerum quis dolorum autem! Unde
    dignissimos voluptatem harum tempora in officia, magnam numquam accusantium
    sapiente, architecto pariatur cumque repellat voluptas quaerat, nihil ab
    temporibus aperiam quidem nam. Vero neque sequi ex, sapiente eos tempore
    consectetur, exercitationem accusantium, quos ducimus doloremque repudiandae
    cupiditate autem in maiores facere nemo explicabo quaerat atque saepe aut
    perferendis? Doloribus nostrum temporibus qui perspiciatis laudantium modi
    officiis, quis veniam delectus quasi pariatur aliquid nulla rerum error?
  </p>
</div> -->
<div class="container">
  <p class="container-medium text-green">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
    obcaecati nostrum soluta, quas quisquam, accusantium commodi ducimus eos
    velit impedit quibusdam! Minus ex perspiciatis nemo nam explicabo, soluta
    alias consequuntur, est quo tempore deleniti veritatis fuga sunt repudiandae
    qui laboriosam assumenda, optio dolores? Corporis sint explicabo quasi
    recusandae aliquam odio nam quia, atque inventore laboriosam ex ullam.
    Recusandae id ex est vel ad et quos excepturi voluptatibus possimus
    veritatis ipsam quaerat placeat assumenda atque asperiores, enim amet velit
    quasi? Sapiente commodi quam labore qui, accusamus vel facere consequatur
    aperiam harum corporis nesciunt rem dignissimos fugit aliquid est nihil quos
    placeat voluptatum, molestias deleniti quisquam! Enim eos facere fugit
    incidunt repellendus quos aspernatur a nihil? Quo culpa aut dolor.
  </p>
  <p class="container-small xl:container-large bg-fuchsia-200 text-green-900">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
    obcaecati nostrum soluta, quas quisquam, accusantium commodi ducimus eos
    velit impedit quibusdam! Minus ex perspiciatis nemo nam explicabo, soluta
    alias consequuntur, est quo tempore deleniti veritatis fuga sunt repudiandae
    qui laboriosam assumenda, optio dolores? Corporis sint explicabo quasi
    recusandae aliquam odio nam quia, atque inventore laboriosam ex ullam.
    Recusandae id ex est vel ad et quos excepturi voluptatibus possimus
    veritatis ipsam quaerat placeat assumenda atque asperiores, enim amet velit
    quasi? Sapiente commodi quam labore qui, accusamus vel facere consequatur
    aperiam harum corporis nesciunt rem dignissimos fugit aliquid est nihil quos
    placeat voluptatum, molestias deleniti quisquam! Enim eos facere fugit
    incidunt repellendus quos aspernatur a nihil? Quo culpa aut dolor.
  </p>
  <h2>NO class no cry</h2>
  <p class="bg-orange">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos hil
    quos placeat voluptatum, molestias deleniti quisquam! Enim eos facere fugit
    incidunt repellendus quos aspernatur a nihil? Quo culpa aut dolor.
  </p>
  <p class="bg-orange-600 container-large">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aperiam
    harum corporis nesciunt rem dignissimos fugit aliquid est nihil quos placeat
    voluptatum, molestias deleniti quisquam! Enim eos facere fugit incidunt
    repellendus quos aspernatur a nihil? Quo culpa aut dolor.
  </p>
  <p class="bg-blue-200 container-full">
    fuull Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aperiam
    harum corporis nesciunt rem dignissimos fugit aliquid est nihil quos placeat
    voluptatum, molestias deleniti quisquam! Enim eos facere fugit incidunt
    repellendus quos aspernatur a nihil? Quo culpa aut dolor.
  </p>
</div>
