---
import QwikVideoPlayer from './index'
import V7 from './index'
import * as s from '../Hero.css'
---

<section>
  <span class={s.bubble.blue}></span>
  <span class={s.bubble.orange}></span>
  <span class={s.bubble.green}></span>
  <!-- <QwikVideoPlayer /> -->
  <V7 />
</section>
