---
import QwikVideoPlayer from './index'
import V7 from "./index"
import * as s from '../Hero.css'
---

<section>
  <span class={s.bubles2.blue}></span>
  <span class={s.bubles2.orange}></span>
  <span class={s.bubles2.green}></span>
  <!-- <QwikVideoPlayer /> -->
  <V7 />
</section>
