---
//import type { BusinessCategoryStyle } from 'src/components/hero/Exemples/Exemple.css.ts'
//import type { backgroundImage } from 'src/components/hero/Exemples/Exemple.css.ts'
// biome-ignore lint/style/useImportType: <explanation>
import {
  backgroundImage,
  BusinessCategoryStyle
} from 'src/components/hero/Exemples/Exemple.css.ts'

interface Props {
  img?: string
  icon?: string
  BusinessCategory: keyof typeof backgroundImage
  price?: number
}

const { img, BusinessCategory, icon, price } = Astro.props
---

<div class={backgroundImage[BusinessCategory]}>
  <div>
  </div>
</div>
<span class={BusinessCategoryStyle}>{BusinessCategory}</span>
