---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero/index.astro'
import Avantages from '../components/hero/Avantages.astro'
import Pricing from 'src/components/pricing/index.astro'
import ListBusiness from 'src/components/hero/Exemples/index.astro'
import Cards from 'src/components/Grafikart/index.tsx'
---

<Layout>
  <a href="/Carrousel">
    <button class="text-amber text-3xl border-red border-3">Carrousel</button>
  </a>
  <Hero />
  <ListBusiness />
  <Avantages />
  <Pricing />
  <Cards />
</Layout>
