---
import { Image } from 'astro:assets'
import SvgPlanningIMG from '@/assets/images/shapes at 25-11-26 13.11.45.svg'
import SvgMobil from '@/assets/images/svg-mobil.svg'
---

<div>
  <Image src={SvgPlanningIMG} class="ss landing" alt="Planning" />
  <Image src={SvgMobil} class="ss mobile" alt="Planning Mobile" />
</div>

<style>
  .ss {
    margin-inline: auto;
    border-radius: 60px;
    margin-block-end: 80px;
  }
.mobile {
    display: none;
  }
  @media screen and (width < 500px) {
    .landing {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
</style>
