---
import * as s from './Hero.css'
---

<section class={s.contentHeroSpace}>
  <div class={s.image}></div>
  <div>
    <h2 class="text-3xl font-exo text-bold">About Me</h2>
    <h5>Ce n'est pas un metier mais ma passion</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti earum,
      voluptate nihil animi odit aspernatur minus labore reiciendis placeat,
      molestias dolores eum adipisci magnam. Quaerat facilis voluptatem
      consequatur, dolor neque autem maxime quia impedit quod temporibus aut
      ipsam laboriosam eum dolorum vitae quo blanditiis!
    </p>
    <ul class={s.aboutMeList}>
      <li>Equipement de qualité</li>
      <li>Acréditation Google France</li>
      <li>perfexioniste</li>
    </ul>
  </div>
</section>
<p>HELL ggg O</p>
