---
import '@/styles/utils/index.ts'
import Footer from 'src/components/Layout-Component/footer2/index.astro'
import { Navbar as NavBarQwik } from 'src/components/Layout-Component/Navbar_Qwik/index.tsx'
import 'src/styles/global.css'
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Photographe 360° Google</title>
  </head>
  <body>
    <NavBarQwik />
    <slot />
    <Footer />
  </body>
</html>
